<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601}-[%t]-%-5level-%logger{1} | %msg%n" />
		</Console>
		<File name="Access" fileName="/udpserver/logs/access.log" bufferedIO="false">
			<PatternLayout pattern="%d{ISO8601}-[%t]-%-5level-%logger{1} | %msg%n" />
		</File>
		<File name="Task" fileName="/udpserver/logs/task.log" bufferedIO="false">
			<PatternLayout pattern="%d{ISO8601}-[%t]-%-5level-%logger{1} | %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="com.itag.water.platform.service.MsgHandler" level="INFO">
			<AppenderRef ref="Access" />
		</logger>
		<logger name="com.itag.water.platform.data.DataFramePool" level="INFO">
			<AppenderRef ref="Task" />
		</logger>
	</Loggers>
</Configuration>